@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400&display=swap");

* {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  line-height: 1.75;
}

html {
  font-size: 18px;
  background: #fff1cc;
  padding: 40px 0;
}

h1, h2, strong {
  font-weight: 500;
  margin: 0;
}

h1, h2 {
  line-height: 1.25;
}

h2 {
  font-size: 1.25rem;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 90vw;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header .share-area {
    margin-top: 20px;
}

.share-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.share-area img {
    height: 1.75rem;
}

.share-area img.whatsapp {
    height: 2.25rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

ol {
  list-style: none;
  counter-reset: items;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
}

ol li {
  counter-increment: items;
  display: flex;
  align-items: start;
  gap: 0.5em;
}

ol li:before {
  content: counter(items) ".";
  width: 2rem;
  min-width: 2rem;
  text-align: end;
}

.checkbox-line {
  display: flex;
  align-items: start;
}

.checkbox-line * {
    cursor: pointer;
}

input[type="checkbox"] {
    width: 2em;
    min-width: 2em;
    height: 2em;
}

label {
    padding-right: 0.5em;
}

.buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

button {
    padding: 0.5em 2em;
    background: #8f8056;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 1em;
    cursor: pointer;
}

.score-area {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    opacity: 0;
    transform: scale(0);
    display: flex;
    transition: transform 0.5s, opacity 0.5s;
}

.show {
    transform: scale(1);
    opacity: 1;
}

.score-area p {
    line-height: 1.25;
    margin: 0;
    font-size: 1.5rem;
}

p.score {
    font-weight: 500;
    font-size: 3.5rem;
}

footer {
    font-size: 0.8rem;
    text-align: center;
}

footer p {
    margin: 0;
}